* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333; 
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav li a {
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
}

nav li a:hover {
	color: #ccc;
}

.login {
	padding: 50px;
	text-align: center;
}

.login h2 {
	font-size: 2rem;
	margin-bottom: 30px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-size: 1.2rem;
}

form input[type="text"],
form input[type="password"] {
	padding: 2px;
	border-radius: 2px;
	margin-bottom: 5px;
	font-size: 1.2rem;
}

form input[type="submit"] {
	display: block;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
	background-color: #ccc;
}

p a {
	color: #333;
	text-decoration: underline;
	font-weight: bold;
}

.jumbotron {
    margin-top:20px;
    margin-left: 400px;
    margin-right: 400px;
    text-align:center;
    margin-bottom: 0px;
}